header,body {
	font-family: Lucida Grande, Sans-serif;
	background: black;
	color: white;
}

h1 {
	font-size: 64px;
	text-align: center;
}

h2 {
	font-size: 30px;
	text-shadow: 5px 5px 2px #808080;
}

p {
	font-size: 24px;
	padding-top: 20px;
}

img {
	display: block;
	margin: 0 auto;
	width: 525px;
}

div {
	padding: 25px;
	min-height: 150px;
}

#red {
	background-color: #f00102;
	text-align: right;
}

#blue {
	background-color: #2359c3;
	text-align: left;
}

#yellow {
	color: black;
	background-color: #dbbd0a;
	text-align: right;
}

#yellow h2 {
	text-shadow: 5px 5px 2px #c7e2c7;
}

#green {
	background-color: #177e26;
	text-align: left;
}

footer {
	text-align: right;
	padding-right: 10px;
	padding-bottom: 10px;
}




